html {
    min-height: 100vh;
    background-color: brown;
    color: seashell;
}

body {
    min-height: 100vh;
}

#graph {
    background-color: lavender;
	min-height: 80vh;
	width: 98vw;
    border-radius: 45px;
    border-style: dotted;
    border-color: brown;
    border-width: 3px;
}

button {
    font-size: x-large;
}